h5{
    color: #fff;
    font-size: 25px;
}

.text-10 {
    font-size: 10px !important
}

.text-15 {
    font-size: 15px !important
}

.text-16 {
    font-size: 16px !important
}

.text-17 {
    font-size: 17px !important
}

.text-18 {
    font-size: 18px !important
}

.text-19 {
    font-size: 19px !important
}

.text-20 {
    font-size: 20px !important
}

.text-25 {
    font-size: 25px !important
}

.text-30 {
    font-size: 30px !important
}

.text-35 {
    font-size: 35px !important
}

.text-40 {
    font-size: 40px !important
}

.text-45 {
    font-size: 45px !important
}

.text-50 {
    font-size: 50px !important
}

.text-55 {
    font-size: 55px !important
}

.text-60 {
    font-size: 60px !important
}

.text-65 {
    font-size: 65px !important
}

.text-70 {
    font-size: 70px !important
}

.text-75 {
    font-size: 75px !important
}

.text-80 {
    font-size: 80px !important
}

.text-85 {
    font-size: 85px !important
}

.text-90 {
    font-size: 90px !important
}

.text-95 {
    font-size: 95px !important
}

.text-100 {
    font-size: 100px !important
}

.btn-whatsapp{
	background-color: #25D366;
	border-color: #25D366;
	color: #fff;
}

.btn-whatsapp:hover,active,focus{
	background-color: #36ed79;
	border-color: #36ed79;
	color: #fff;
}

.logo-parapente{
  width: 25px;
}

.text-parapente{
  color: #0095D2 !important;
}

a{
	color: #efb810;
}

a:hover,focus,active{
	color: #ffcc35;
}

.btn-primary{
	background-color: #b51f24;
	border-color: #b51f24;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
	background-color: #d63136 !important;
	border-color: #d63136 !important;
}

.btn-primary.disabled, .btn-primary:disabled{
    background-color: #d63136;
    border-color: #d63136;
}

/* WhatsApp */
.whats {
    position: fixed;
    right: 26px;
    bottom: 100px;
    width: 60px;
    z-index: 1000
}

.whats img {
    width: 100%;
    height: auto
}
/* WhatsApp */

.text-dorado{
	color:  #efb810 !important;
}

.text-rumayor{
    color: #b51f24 !important;
}

.logo{
    width: 51%;
}

.titulo-principal{
    letter-spacing: 3px;
    font-size: 100px !important;
    font-weight:  500;
}

.responsive-iframe {
    width: 560px;
    height: 512px;
}

.site-hero{
    margin-top: 104px;
}

.img-menu{
    width: 80px;
}

@media(max-width:768px) {
    .logo{
        width:  45%;
    }

    .titulo-principal{
        font-size: 80px !important;
    }

    .navbar-dark .navbar-brand{
        padding: 0px;
    }

    .margin-slider-principal{
        margin-top: 133px;
    }

    .responsive-iframe {
        width: 100%;
        height: 365px;
    }

    .site-section{
        padding: 2em 0;
    }

    .site-hero{
        margin-top: 0px;
    }

    .navbar-brand{
        display: contents;
    }

    .img-cervezas{
        width: 64px;
    }

    .img-botellas{
        width: 52px;
    }
}

.authentic{
    font-family:'Authentic', sans-serif !important;
}

.text-bold{
    font-weight:  600;
}

.text-italic{
    font-style: italic;
}

.rumayor-backgroud{
    background-color:  #1B1B1B;
}

.rumayor-border{
    border: 1px solid #b51f24;
}

.text-black{
    color: #000;
}

.container-jugueteria{
    margin-top: 100px;
}

.form-control{
    border: 3px solid #b51f24;
}

.info-content{
    font-size: 16px;
}

.info-title{
    font-size: 18px;
}

.modal-content{
    background-color: #1B1B1B;
}

.modal-header .close{
    padding: 5px 5px 0px 0px;
}

.close{
    color: #ff0000;
    text-shadow: none;
}

.modal-dialog{
    max-width: 800px;
}

.btn-default{
    color: #fff;
    background: #b51f24;
}